@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,400;0,500;0,700;1,400&family=Ubuntu:ital,wght@0,400;1,300&display=swap');

/* Variables */
:root {
  --color-primary: #8d33ff;
  --color-dark: #222222;
  --color-light: #f1f1f1;
}

body {
  margin: 0;
  font-family: 'Plus Jakarta Sans', sans-serif;
}

a {
  color: #000;
}

/* Utility */
.btn-primary {
  color: #fff;
  background-color: var(--color-primary);
  padding: 1rem 2rem;
  border-radius: 50vh;
  border: none;
  text-decoration: none;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
}

.btn-secondary {
  color: var(--color-primary);
  background-color: #fff;
  border-radius: 50vh;
  padding: 1rem 2rem;
  border: none;
  text-decoration: none;
}

/* Header */
.header {
  margin: 0 auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}

.logo {
  font-family: 'Ubuntu', sans-serif;
  font-size: 67.77px;
  color: var(--color-primary);
  text-decoration: none;
}

/* Navigation */
@media (max-width: 600px) {
  .logo {
    font-size: 41.89px;
  }
}

@media (max-width: 768px) {
  .logo {
    font-size: 41.89px;
  }
}

.nav-items {
  margin-top: 1rem;
  display: flex;
  flex-direction: reverse;
  justify-content: center;
  align-items: flex-start;
}

.nav-link {
  font-size: 16px;
  font-weight: 500;
  color: #000;
  text-decoration: none;
  margin-right: 1rem;
}

.nav-link:last-child {
  margin-right: 0;
}

.active {
  padding-bottom: 4px;
  border-bottom: 2px solid var(--color-primary);
}

.dropdown {
  display: none;
}

@media (max-width: 600px) {
  .nav-items {
    flex-direction: column;
    align-items: center;
  }

  .nav-items.closed a {
    display: none;
  }

  .nav-items.closed a.active {
    display: inline-block;
  }

  .nav-link {
    margin-right: 0;
    margin-bottom: 1rem;
  }

  .active {
    order: -1;
  }

  .dropdown {
    display: inline-block;
    cursor: pointer;
    position: absolute;
    right: calc(48.5% - 120px);
    top: 82px;
  }
}

/* Home Section */

.hero-img {
  margin: 0 auto;
  max-width: 1080px;
  height: 600px;
  background: url(./assets/hero-img.png) no-repeat center/cover;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-heading {
  color: #c1c1c1;
  font-weight: 400;
  font-size: 67.77px;
  text-align: center;
}

.hero-heading span {
  color: #fff;
}

.hero-img .btn-primary {
  font-size: 16px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

@media (max-width: 768px) {
  .hero-img {
    height: 400px;
  }

  .hero-heading {
    font-size: 60px;
  }
}

@media (max-width: 600px) {
  .hero-img {
    height: 300px;
  }

  .hero-heading {
    font-size: 41.89px;
  }
}

/* Carousel section */
.carousel-container {
  max-width: 1080px;
  margin: 0 auto;
  text-align: center;
}

.carousel-heading {
  font-family: 'Ubuntu', sans-serif;
  font-style: italic;
  font-weight: 300;
  font-size: 41.89px;
}

.carousel-cards-container {
  display: grid;
  grid-template-columns: auto auto auto;
}

.carousel-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 0.1s ease-in-out;
  padding: 1rem 0;
}

.carousel-card:hover {
  transform: scale(105%);
}

.carousel-card-primary {
  background-color: var(--color-light);
}

.carousel-card-secondary {
  background-color: var(--color-dark);
  color: #fff;
  z-index: 10;
}

.carousel-title {
  font-size: 25.89px;
  font-weight: 400;
}

.carousel-icon {
  color: var(--color-primary);
}

@media (max-width: 768px) {
  .carousel-heading {
    font-size: 41.89px;
  }

  .carousel-cards-container {
    grid-template-columns: none;
  }
}

@media (max-width: 600px) {
  .carousel-title {
    font-size: 16px;
  }
}
